beautifulsoup4==4.9.1
Flask==1.1.2
flask-core==2.9.0
gunicorn==20.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lxml==4.6.3
MarkupSafe==2.0.1
numpy>=1.9.2
scipy>=0.15.1
nltk==3.5
scikit-learn>=0.18
pandas>=0.19
tmdbv3api==1.6.1
lxml==4.6.3
urllib3<=1.26.5
requests==2.23.0
pickleshare==0.7.5
Werkzeug==0.15.5
python-dateutil==2.8.1
python-editor==1.0.4
